.bucketPanel {
    width: 400px;
    padding: 10px;
}

.productRemoveBtn:hover {
    cursor: pointer;
}

button.btnClearTrashAll {
	background-color: red;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

button.btnClearTrashAll:hover {
	background-color: red;
}
